<div class="container contact" id="contact">
	<div class="row">
		<h1 class="text-center">Contact</h1>
	</div>
	<div class="row">
		<form ng-submit="submitContact()">
			<div class="col-md-6">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<input type="text" class="form-control" ng-model="contact.firstName" placeholder="First Name">
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<input type="text" class="form-control" ng-model="contact.lastName" placeholder="Last Name">
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-envelope"></span>
					</span>
					<input type="email" class="form-control" ng-model="contact.email" placeholder="Email">
				</div>
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-phone-alt"></span>
					</span>
					<input type="text" class="form-control" ng-model="contact.phone" placeholder="Phone">
				</div>
			</div>
			<div class="col-md-6">
				<textarea class="form-control" ng-model="contact.message" rows="6"></textarea>
				<button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
			</div>
		</form>
	</div>
</div>