<div class="entry">
	<div class="well">
		<div class="row">
			<div class="col-md-10">
				<div class="form-group">
					<input type="text" class="form-control title" placeholder="Title">
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<input type="text" class="form-control dates" placeholder="Dates">
				</div>
			</div>
			<div class="form-group">
				<input type="text" class="form-control organization" placeholder="Organization">
			</div>
			<hr>
			<ul class="descriptions">				
				<button class="btn btn-primary add-description">Add Description</button>
			</ul>
		</div>
		<button class="btn btn-danger pull-right remove-entry">Remove</button>
	</div>
</div>